<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mydefault.app.interest.serviceimpl.InterestMapper">
	<!--	<![CDATA[, ]]>	-->
	
	<select id="listAll" resultType="InterestVO">
		SELECT 
			INTEREST_ID , 
			INTEREST_NAME 
		FROM T_INTEREST 
		ORDER BY INTEREST_ID 
	</select>
	
</mapper>
